@use 'index';

.infoItemContainer {
  padding: 14px;
  border-radius: 12px;
  max-width: calc(50% - 10px);
  height: 96px;
}

.firstVariant {
  background-color: index.$orange-main-color;
  border: 1px solid rgba(index.$white-color, 0.2);
}

.secondVariant {
  background-color: rgba(index.$white-color, 0.05);
  border: 1px solid rgba(index.$white-color, 0.2);
}

.thirdVariant {
  background-color: rgba(index.$white-color, 0.05);
  border: 1px solid index.$variant-error-color;
}

.fourthVariant {
  background-color: rgba(index.$white-color, 0.05);
  border: 1px solid index.$variant-success-color;
}

.wrap {
  display: flex;
  column-gap: 8px;
  row-gap: 0px;
  align-items: flex-start;
  width: 100%;
}

.icon {
  max-width: 20px;
  max-height: 20px;
  fill: index.$orange-secondary-color;
}

.itemName {
  color: rgba(index.$white-color, 0.8);
  font-size: 12px;
  line-height: 1.33;
  font-feature-settings:
    'clig' off,
    'liga' off;
}

.itemValue {
  color: index.$white-color;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.11;
  height: 20px;
}

@media screen and (min-width: index.$mobile-breakpoint) {
  .infoItemContainer {
    padding: 13.2px;
    border-radius: 12px;
    max-width: 157px;
  }

  .wrap {
    display: flex;
    column-gap: 8px;
    row-gap: 0px;
    align-items: center;
    margin-bottom: 28px;
    width: 100%;
  }

  .icon {
    max-width: 20px;
    max-height: 20px;
    fill: index.$orange-secondary-color;
  }

  .itemName {
    color: rgba(index.$white-color, 0.8);
    font-size: 12px;
    line-height: 1.33;
    width: 101px;
    height: 16px;
    font-feature-settings:
      'clig' off,
      'liga' off;
  }

  .itemValue {
    color: index.$white-color;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.11;
    height: 20px;
  }
}

@media screen and (min-width: index.$tablet-breakpoint) {
  .infoItemContainer {
    padding: 18px;
    max-width: 100%;
    width: 187px;
    height: 116px;
  }

  .itemName {
    line-height: 1.5;
    height: 18px;
  }

  .itemValue {
    font-size: 24px;
    line-height: 1.33;
    height: 32px;
  }
}
