@use 'index';

.wrapper {
  margin-top: -40px;
  padding-top: 40px;
}

.topWrapper {
  margin-bottom: 40px;
}

.title {
  margin-bottom: 40px;
}

.filtersTitle {
  display: none;
}

@media screen and (min-width: index.$tablet-breakpoint) {
  .wrapper {
    margin-top: -72px;
    padding-top: 72px;
  }

  .topWrapper {
    margin-bottom: 32px;
  }

  .title {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: index.$desktop-breakpoint) {
  .wrapper {
    position: relative;
    margin-right: -96px;
    background-image: url('../../images/prod-desk-1x.jpg');
    background-image: -webkit-image-set
      (url('../../images/prod-desk-1x.jpg') 1x, url('../../images/prod-desk-2x.jpg') 2x);
    background-repeat: no-repeat;
    background-position: top right;
  }

  .topWrapper {
    padding-right: 96px;
    display: flex;
    justify-content: space-between;
  }

  .filtersTitle {
    display: block;
    position: absolute;
    top: 42px;
    right: 96px;
    color: rgba(239, 237, 232, 0.5);
    font-size: 14px;
    line-height: 1.285;
  }
}
