@use 'index';

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(index.$black-color, 0.4);
}

.modal {
  border-radius: 12px;
  border: 1px solid rgba(index.$white-color, 0.2);
  background: #10100f;
  position: relative;
  max-height: calc(100dvh - 40px);
  overflow-y: auto;
  z-index: 100;
}

.modalCloseBtn {
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  border: none;
  outline: none;
  background: inherit;
  position: absolute;
  top: 14px;
  right: 14px;
  color: index.$white-color;
  cursor: pointer;
  transition: color index.$transition-dur-and-fun;
}

.modalCloseBtn:hover {
  color: index.$orange-main-color;
}

.modalCloseBtnHidden {
  display: none;
}

.modalCloseIcon {
  stroke: currentColor;
  width: 22px;
  height: 22px;
}

@media screen and (min-width: index.$tablet-breakpoint) {
  .modalCloseBtn {
    width: 26px;
    height: 26px;
    top: 16px;
    right: 16px;
  }

  .modalCloseBtnHidden {
    display: block;
  }

  .modalCloseIcon {
    stroke: currentColor;
    width: 26px;
    height: 26px;
  }
}
