@import 'index.scss';

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(4, 4, 4, 0.4);
}

.modal {
  border-radius: 12px;
  border: 1px solid rgba(239, 237, 232, 0.2);
  background: #10100f;
  position: relative;
}

.modalCloseBtn {
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  border: none;
  outline: none;
  background: inherit;
  position: absolute;
  top: 14px;
  right: 14px;
  color: $white-color;
  cursor: pointer;
}

.modalCloseIcon {
  stroke: currentColor;
  width: 22px;
  height: 22px;
}

@media screen and (min-width: $tablet-breakpoint) {
  .modalCloseBtn {
    width: 26px;
    height: 26px;
    top: 16px;
    right: 16px;
  }

  .modalCloseIcon {
    stroke: currentColor;
    width: 26px;
    height: 26px;
  }
}
