@use 'index';

.background {
  background: url('../../images/gym-mob2.jpg');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size:349px 654px;
}

// @media screen and (min-width: index.$tablet-breakpoint) {
//   .background {
//   background: url('../../images/gym-mob2.jpg');
//   background-repeat: no-repeat;
//   background-position: 151px 119px;
//   background-size:349px 654px;
// }
// }

// @media screen and (min-width: index.$desktop-breakpoint) {
  
// }

