@use 'index';

.bodybox {


  border-color: rgba(239, 237, 232, 0.2);
  border-width: 1px;
  border-radius: 12px;
  gap: 32px;
}
.bodyboxTable {
  padding-right: 16px;
  border-color: rgba(239, 237, 232, 0.2);
  border-width: 1px;
  border-radius: 12px;
  gap: 32px;
  display: none;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(239, 237, 232, 0);
}
.itembox {
  margin-bottom: 60px;
}

.exercisetitle {
  color: rgba(239, 237, 232, 0.5);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
}

.addexercisetitle {
  color: index.$orange-main-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
}

.exercisename {
  color: #ef8964;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.exercisetitleitem {
  color: #efede8;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
}

.exercisetipe {
  color: index.$white-color;
  border-color: rgba(239, 237, 232, 0.3);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  border: solid;
  border-width: 1px;
  border-radius: 12px;
  padding: 10px 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rowtext {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  gap: 10px;
  flex: 1;
}
.rowtextitems {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  overflow: hidden;
}

.icon {
  position: relative;
  top: +50px;
  display: flex;
  flex-direction: column;
  stroke: #ef8964;
  width: 25px;
  height: 25px;
}

.icon2 {
  position: relative;
  display: flex;
  flex-direction: column;
  stroke: #ef8964;
  width: 20px;
  height: 20px;
  top: +10px;
}
.tablehide {
  display: none;
}

@media screen and (min-width: index.$mobile-breakpoint) {
  .rowtext {
    gap: 5px;
  }
  .icon {
    top: +50px;
  }
  .extrabigwidth {
    max-width: 150px;
  }

  .extrasmallwidth {
    width: 20px;
  }
}

@media screen and (min-width: index.$tablet-breakpoint) {
  .bodybox {
    display: none;
  }
  .bodyboxTable {
    display: block;
  }
  .exercisestablehead {
    flex: 1;
    width: 100%;
    text-align: left;
    font-size: 16px;
    border-collapse: separate;
    border-spacing: 10px;
  }

  .exercisestablehead th,
  .exercisestablehead td {
    padding: 10px;
  }
  .tablehide {
    display: table-row;
  }
}

@media screen and (min-width: index.$desktop-breakpoint) {
}
