@use 'index';
.container {
  background: rgba(index.$black-color, 0.05);
  width: 100%;
  height: auto;
}
.element {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: 100%;
}
.element:not(:last-child) {
  margin-bottom: 16px;
}
.bodyPartsElement,
.equipmentElement,
.nameElement {
  width: 100%;
}
.burnedCaloriesElement {
  width: calc((100% - 28px) * 0.34177);
}
.timeElement {
  width: calc((100% - 28px) * 0.33755);
}
.targetElement {
  width: calc((100% - 14px) * 0.32067);
}

.title {
  color: index.$orange-secondary-color;
  max-height: 18px;
  max-width: 100%;
  font-size: 12px;
  line-height: calc(18 / 12);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.elementField {
  padding: 9.2px 14px;
  color: index.$white-color;
  border-radius: 12px;
  border: 1px solid rgba(index.$white-color, 0.3);
  font-size: 14px;
  line-height: calc(18 / 14);
  width: 100%;
  height: 38px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.blockWrap {
  display: flex;
  align-items: flex-end;
  column-gap: 8px;
  width: 100%;
}
.subBlockWrap {
  display: flex;
  align-items: center;
  column-gap: 8px;
  width: calc(100% - 28px);
  width: 100%;
}
.blockWrap .element {
  margin-bottom: 0;
}
.buttonWrap {
  width: 20px;
  height: 20px;
  margin-bottom: 9px;
}
.button {
  width: 20px;
  height: 20px;
  padding: 0;
  border: 0;
  background-color: inherit;
}
.icon {
  width: 20px;
  height: 20px;
  stroke: index.$orange-secondary-color;
}
@media screen and (min-width: index.$mobile-breakpoint) {
  .container {
    width: 297px;
  }
  .targetElement {
    width: 81px;
  }
  .burnedCaloriesElement {
    width: 80px;
  }
  .timeElement {
    width: 76px;
  }
  .blockWrap {
    width: 269px;
  }
  .subBlockWrap {
    column-gap: 16px;
  }
}
@media screen and (min-width: index.$tablet-breakpoint) {
  .container {
    max-width: 100%;
    width: 656px;
    display: flex;
    flex-direction: row;
    column-gap: 8px;
  }
  .element:not(:last-child) {
    margin-bottom: 0;
  }
  .bodyPartsElement {
    width: 90px;
  }
  .equipmentElement {
    width: 132px;
  }
  .nameElement{
    width: 128px;
  }
  .targetElement {
    width: 84px;
  }
  .burnedCaloriesElement {
    width: 78px;
  }
  .timeElement {
    width: 72px;
  }

  .elementField {
    padding: 8px 14px;
    height: 40px;
    font-size: 16px;
    line-height: calc(24 / 16);
  }

  .blockWrap {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 12px;
    width: 282px;
  }

  .subBlockWrap {
    column-gap: 8px;
  }
  .blockWrap:last-child {
    align-items: flex-end;
  }
  .blockWrap .element {
    margin-bottom: 0;
  }
}
@media screen and (min-width: index.$desktop-breakpoint) {
  .container {
    width: 762px;
  }

  .bodyPartsElement {
    width: 115px;
  }
  .equipmentElement {
    width: 157px;
  }
  .nameElement{
    width: 131px;
  }
  .targetElement {
    width: 106px;
  }
  .burnedCaloriesElement {
    width: 91px;
  }
  .timeElement {
    width: 82px;
  }

  .blockWrap {
    width: 368px;
    column-gap: 20px;
  }
  .blockWrap:last-child {
    column-gap: 8px;
  }
  .blockWrap .element {
    margin-bottom: 0;
  }
}
