@use 'index';

.productsTableContainer {
  width: 100%;
  height: auto;
  background: rgba(index.$black-color, 0.05);
  overflow: hidden;
}

.productTableList {
  height: 100%;
  max-height: 752px;
  overflow-y: scroll;
  padding-right: 8px;
}

.productTableList::-webkit-scrollbar {
  width: 6px;
}

.productTableList::-webkit-scrollbar-track {
  border-radius: 12px;
  margin-top: 26px;
}

.productTableList::-webkit-scrollbar-thumb {
  width: 6px;
  height: 203px;
  border-radius: 12px;
  background: rgba(index.$white-color, 0.1);
}

.productTableList:hover::-webkit-scrollbar-thumb {
  background: rgba(index.$white-color, 0.1);
}

.tableElement {
  width: 100%;
  height: auto;
}

.tableElement:not(:last-child) {
  margin-bottom: 40px;
}

@media screen and (min-width: index.$mobile-breakpoint) {
  .productsTableContainer {
    width: 311px;
  }
}

@media screen and (min-width: index.$tablet-breakpoint) {
  .productsTableContainer {
    width: 680px;
  }

  .productTableList {
    height: 162px;
    padding-right: 18px;
  }

  .productTableList::-webkit-scrollbar-thumb {
    height: 90px;
  }

  .tableElement:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: index.$desktop-breakpoint) {
  .productsTableContainer {
    width: 786px;
  }
}
