@use 'index';

.tableContainer {
  width: 100%;
  height: auto;
  background: rgba(index.$black-color, 0.05);
  overflow: hidden;
}

.tableList {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}

.tableList::-webkit-scrollbar {
  width: 6px;
}

.tableList::-webkit-scrollbar-track {
  border-radius: 12px;
}

.tableList::-webkit-scrollbar-thumb {
  width: 6px;
  height: 203px;
  border-radius: 12px;
  // background: rgba(index.$white-color, 0.1);
  background: red;
}

.tableList:hover::-webkit-scrollbar-thumb {
  background: rgba(index.$white-color, 0.1);
}

.tableElement {
  width: 100%;
  height: auto;
}

.tableElement:not(:last-child) {
  margin-bottom: 40px;
}

@media screen and (min-width: index.$mobile-breakpoint) {
  .tableContainer {
    width: 311px;
  }

  .tableList{
    width: 303px;
  }

  .tableElement {
    width: 297px;
  }
}

@media screen and (min-width: index.$tablet-breakpoint) {
  .tableContainer {
    width: 680px;
  }

  .tableList {
    height: 162px;
    width: 648px;
  }

  .tableList::-webkit-scrollbar-thumb {
    height: 90px;
    // background: rgba(index.$white-color, 0.1);
    background: green;
  }

  .tableElement {
    // width: 100%;
    width: 656px;
  }

  .tableElement:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: index.$desktop-breakpoint) {
  .tableContainer {
    width: 786px;
  }

  .tableElement {
    width: 764px;
  }

  .tableList::-webkit-scrollbar-thumb {
    height: 90px;
    // background: rgba(index.$white-color, 0.1);
    background: yellow;
  }
}
