@use 'index';

.container {
  margin: 0 auto;
  width: 100%;
}
.title {
  margin-bottom: 4px;
  line-height: 1.5;
  font-size: 12px;
  color: rgba(index.$white-color, 50%);
}
.blood {
  display: inline;
  line-height: 1.5;
  font-size: 12px;
  margin-right: 280px;
  color:rgba(index.$white-color, 30%);
}
.tabletInput {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input {
  border-radius: 12px;
  border-color: rgba(index.$white-color, 30%);
  color:index.$white-color;
  line-height: 1.29;
  font-size: 14px;
  padding: 14px 0 14px 14px;
  background-color: transparent;
 
}
.inputBase {
  border-radius: 12px;
  border-color: rgba(index.$white-color, 30%);
  color:index.$white-color;
  line-height: 1.29;
  font-size: 14px;
  margin-bottom: 16px;
  padding: 14px 0 14px 14px;
  background-color: transparent;
 
}


.label {
  margin-bottom: 4px;
  line-height: 1.5;
  font-size: 12px;
  color:rgba(index.$white-color, 50%);
}
.column {
  display: flex;
  flex-direction: column;
}
.group1 {
  display: flex;
  margin-bottom: 14px;
}

.group1 > *:not(:last-child) {
  margin-right: 12px;
}
.group2 {
  display: flex;
  margin-bottom: 14px;
}
.group2 > *:not(:last-child) {
  margin-right: 12px;
}
.labelNone {
  margin-bottom: 3px;
  visibility: hidden;
}
.radio {
  display: flex;
  gap: 20px;
}

.labelMargin {
  margin-right: 5px;
  color:index.$white-color;
  font-size: 14px;
  line-height: 1.29;
}
.inputRadio {
  line-height: 1.29;
  font-size: 14px;
  color:index.$radio-color;
  background-color: transparent;
  margin-right: 8px;
}
.radioText {
  display: flex;
  flex-direction: column;
  margin-top: 41px;
}
.labelText {
  margin-bottom: 8px;
  color:index.$white-color;
  font-size: 14px;
  line-height: 1.29;
}


.btn {
  padding: 12px 40px;
  width: 115px;
  background-color: index.$orange-main-color;
  border-radius: 12px;
  border: none;
  color: index.$white-color;
  line-height: 1.2;
  font-size: 16px;
  margin-top: 46px;
  margin-right: auto;
}

.inputError {
  border: 1px solid index.$error-color;
}

.inputSuccess {
  border: 1px solid green;
}
.error {
  color: index.$error-color;
  font-size: 10px;
}
.columnName {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.errorName {
  color: index.$error-color;
  font-size: 10px;
  position: fixed;
  margin-top: -20px;
}
.errorEmail {
  color: index.$error-color;
  font-size: 10px;
  position: absolute;
  margin-top: 110px;
}

.errorGroup1 {
  color: index.$error-color;
  font-size: 10px;
  position: absolute;
  margin-top: 70px;
}
.errorGroup2 {
  color: index.$error-color;
  font-size: 10px;
  position: absolute;
  margin-top: 68px;
}
// .errorCalendar {
//   color: red;
//   font-size: 10px;
//   position: absolute;
//   margin-top: 2px;
// }
@media screen and (min-width: index.$mobile-breakpoint) {
  .container {
    width: 375px;
  }

  .input {
    width: 160px;
  }

  .inputBase {
    width: 340px;
  }

  .calendar {
    width: 161px;
    height: 50px;
  }
}

@media screen and (min-width:index.$tablet-breakpoint) {
  .container {
    width: 768px;
  }
  .title {
    margin-bottom: 8px;
    margin-left: 18px;
  }
  .tabletInput {
    flex-direction: row;
    gap: 14px;
    margin-right: auto;
    margin-left: 18px;
  }
  .inputBase {
    width: 333px;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
  }
  .calendar {
    margin-top: 23px;
    height: 55px;
  }
  .groups {
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .input {
    width: 159px;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
  }
  .blood {
    margin-right: auto;

    margin-top: 10px;
  }
  .radio {
    margin-right: auto;
    margin-left: 18px;
  }
  .labelMargin {
    margin-right: 8px;
  }

  .radioNumber {
    margin-right: 32px;
  }
  .radioText {
    margin-top: 32px;
    margin-right: auto;
    margin-left: 18px;
  }

  .btn {
    padding: 16px 50px;
    width: 144px;
    font-weight: 400;
    font-size: 20px;
    margin-top: 38px;
    margin-left: 18px;
  }
  .errorGroup2 {
    margin-top: 79px;
  }
  .errorGroup1 {
    margin-top: 79px;
  }

  .errorName {
    margin-top: 6%;
    margin-right: 70%;
  }
  .errorEmail {
    margin-top: 6%;
    margin-left: 17%;
  }
  .labelText {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (min-width: index.$desktop-breakpoint) {
  .container {
    width: 1440px;
  }
}
