@use 'index';

.container {
  margin: 0 auto;
  width: 100%;
}
.title {
  margin-bottom: 4px;
  line-height: 1.5;
  font-size: 12px;
  color: rgba(index.$white-color, 50%);
}

.blood {
  display: inline;
  line-height: 1.5;
  font-size: 12px;
  margin-bottom: 4px;

  color: rgba(index.$white-color, 30%);
}
.tabletInput {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input {
  border-radius: 12px;
  border-color: rgba(index.$white-color, 30%);
  color: index.$white-color;
  line-height: 1.29;
  font-size: 14px;
  padding: 14px 0 14px 14px;
  background-color: transparent;
}
.inputBase {
  border-radius: 12px;
  border-color: rgba(index.$white-color, 30%);
  color: index.$white-color;
  line-height: 1.29;
  font-size: 14px;
  margin-bottom: 16px;
  padding: 14px 0 14px 14px;
  background-color: transparent;
}

.label {
  margin-bottom: 4px;
  line-height: 1.3;
  font-size: 12px;
  color: rgba(index.$white-color, 50%);
}
.column {
  display: flex;
  flex-direction: column;
}
.group1 {
  display: flex;
  margin-bottom: 14px;
}

.group1 > *:not(:last-child) {
  margin-right: 12px;
}
.group2 {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
.group2 > *:not(:last-child) {
  margin-right: 12px;
}

.radio {
  display: flex;
  gap: 20px;
}

.labelMargin {
  display: flex;
  align-items: center;
  margin-right: 5px;
  color: index.$white-color;
  font-size: 14px;
  line-height: 1.29;
}
.inputRadio {
  margin-right: 3px;
  width: 20px; /* Задайте більший розмір для всіх радіокнопок */
  height: 20px; /* Задайте більший розмір для всіх радіокнопок */
}
.inputRadioSex {
  color: index.$radio-color;
  margin-right: 3px;
}
.radioText {
  display: flex;
  flex-direction: column;
  margin-top: 41px;
  gap: 9px;
}
.labelText {
  display: flex;
  align-items: center;
  color: index.$white-color;
  margin-bottom: 8px;
}
.sex {
  display: flex;
  gap: 8px;
}

.btn {
  padding: 12px 40px;
  width: 115px;
  background-color: index.$orange-main-color;
  border-radius: 12px;
  border: none;
  color: index.$white-color;
  line-height: 1.2;
  font-size: 16px;
  margin-top: 46px;
  margin-right: auto;
}

.inputError {
  border: 1px solid index.$error-color;
}

.inputSuccess {
  border: 1px solid green;
}
.error {
  color: index.$error-color;
  font-size: 10px;
}
.columnName {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.errorName {
  color: index.$error-color;
  font-size: 10px;
  position: fixed;
  margin-top: -20px;
}
.errorEmail {
  color: index.$error-color;
  font-size: 10px;
  position: absolute;
  margin-top: 110px;
}

.errorGroup1 {
  color: index.$error-color;
  font-size: 10px;
  position: absolute;
  margin-top: 70px;
}
.errorGroup2 {
  color: index.$error-color;
  font-size: 10px;
  position: absolute;
  margin-top: 68px;
}
.radioNumber {
  display: flex;
  gap: 8px;
}

.inputRadioText {
  display: block;
  width: 20px;
  margin-right: 8px;
}
.none {
  opacity: 0;
}
.labelDate {
  margin-bottom: 4px !important;
}
.inputDate {
  padding: 14px 14px 14px 14px !important;
  border-color: rgba(index.$white-color, 30%);
  color: index.$white-color;
  width: 161px;
}
.forIcon {
  position: relative;
}

.calendarIcon {
  fill: none;
  stroke: #fff;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 65%;
  right: 30px;
  transform: translateY(-65%);
}
.spanName {
  line-height: 1.285;
  font-size: 14px;
  color: index.$white-color;
}
.realRadio {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.customRadio {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid index.$radio-color;
  border-radius: 50%;
  margin-right: 8px;
  vertical-align: text-top;
}
.customRadio::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: index.$orange-secondary-color;

  margin-right: 8px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.realRadio:checked + .customRadio::before {
  display: block;
}

// .customRadio span {
//   display: flex;
//   align-items: center;
//   position: relative;
// }

// .customRadio input[type='radio'] {
//   position: absolute;
//   width: 1px;
//   height: 1px;
//   opacity: 0;
// }
// .customRadio span::before {
//   content: '';
//   width: 20px; /* Задайте більший розмір для круга */
//   height: 20px; /* Задайте більший розмір для круга */
//   border: 2px solid index.$radio-color;
//   display: inline-block;
//   margin-right: 8px;
//   border-radius: 100%;
// }

// .customRadio span::after {
//   content: '';
//   position: absolute;
//   left: 3px;
//   top: 50%;
//   transform: translateY(-50%);
//   width: 12px; /* Задайте більший розмір для обраного стану */
//   height: 12px; /* Задайте більший розмір для обраного стану */
//   background-color: index.$orange-secondary-color;
//   border-radius: 100%;
//   opacity: 0;
// }
// .customRadio input[type='radio' ]:checked + span::after {
//   opacity: 1;
// }
.react-calendar {
  display: none;
  position: absolute !important;
  background: white;
  z-index: 1000; /* Забезпечує поверхність над іншими елементами */
}

/* Покажіть календар під час кліку на інпут */
.inputDate:focus + .react-calendar {
  display: block;
}
// .inputCalendar{
//   height: 45px;
// }

@media screen and (min-width: index.$mobile-breakpoint) {
  .container {
    width: 375px;
  }

  .input {
    width: 160px;
  }

  .inputBase {
    width: 340px;
  }
}

@media screen and (min-width: index.$tablet-breakpoint) {
  .container {
    width: 768px;
  }
  .title {
    margin-bottom: 8px;
  }
  .tabletInput {
    flex-direction: row;
    gap: 14px;
    margin-right: auto;
    position: relative;
  }
  .inputBase {
    width: 333px;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
  }
  .calendar {
    margin-top: 23px;
    height: 55px;
  }
  .groups {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
  }
  .input {
    width: 159px;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
  }
  .blood {
    margin-right: auto;

    margin-top: 10px;
  }
  .radio {
    margin-right: auto;
  }
  .labelMargin {
    margin-right: 8px;
  }

  .radioNumber {
    margin-right: 32px;
  }
  .radioText {
    margin-top: 32px;
    margin-right: auto;
  }

  .btn {
    padding: 16px 50px;
    width: 144px;
    font-weight: 400;
    font-size: 20px;
    margin-top: 38px;
    cursor: pointer;
  }

  .errorGroup2 {
    margin-top: 79px;
  }
  .errorGroup1 {
    margin-top: 79px;
  }

  .errorName {
    margin-top: 53px;
    margin-right: 326px;
  }
  .errorEmail {
    margin-top: 8%;
    margin-left: 50%;
  }
  .labelText {
    font-size: 16px;
    line-height: 1.5;
  }
  .spanName {
    line-height: 1.5;
    font-size: 16px;
    color: index.$white-color;
  }
  .inputCalendar {
    height: 50px;
  }
}

@media screen and (min-width: index.$desktop-breakpoint) {
  .container {
    width: 1440px;
  }
  // .errorName {
  //   margin-top: 53px;
  //   margin-left: 185px;

  // }
}
