@use 'index';
.container {
  margin: 0 auto;
}

.dayDashboard {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 13px;
  justify-content: center;
}

@media screen and (min-width: index.$mobile-breakpoint) {
}

@media screen and (min-width: index.$tablet-breakpoint) {
  .container {
    margin-left: 0;
  }

  .dayDashboard {
    flex-direction: column;
    width: 593px;
    align-content: flex-start;
    height: 248px;
    gap: 16px;
  }
}

@media screen and (min-width: index.$desktop-breakpoint) {
  .container {
    // width: 390px;
    height: auto;
    padding: 0;
  }

  .dayDashboard {
    flex-direction: row;
    width: 390px;

    height: 100%;
  }
}
