@use 'index';

.group {
  display: flex;
  gap: 14px;
  justify-content: center;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
}

.conteiner {
  display: flex;
  justify-content: center;
  width: 165px;
  height: 96px;
  background-color: index.$orange-main-color;
  border-radius: 12px;
  margin-top: 5px;
  position: relative;
}
.text {
  color: index.$white-color;
  line-height: 1.33;
  font-size: 12px;
  margin-top: 16px;
  text-align: center;
}
.spans {
  margin-right: 8px;
  position: relative;
}
.fork {
  fill: index.$orange-secondary-color;
  max-width: 20px;
  max-height: 20px;
  position: absolute;
  right: -6px;
  top: -2px;
}
.gym {
  fill: index.$orange-secondary-color;
  max-width: 20px;
  max-height: 20px;
  position: absolute;
  right: -5px;
  top: -3px;
}
.span1 {
  position: absolute;
  bottom: 14px;
  left: 16px;
  color: index.$white-color;
}
.span2 {
  position: absolute;
  bottom: 14px;
  left: 14px;
  color: index.$white-color;
}
.dang {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.textDang {
  line-height: 1.29;
  font-size: 14px;
  color: rgba(index.$white-color, 30%);
}
.mark_icon {
  max-width: 24px;
  max-height: 24px;
  background-color: #fff;
  fill: index.$beige-color;
  stroke: index.$white-color;
}
@media screen and (min-width: index.$mobile-breakpoint) {
  .group {
    gap: 16px;
    margin-bottom: 32px;
    margin-top: 32px;
  }
  .dang {
    width: 335px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: index.$tablet-breakpoint) {
  .group {
    gap: 32px;
  }
  .conteiner {
    width: 211px;
    height: 108px;
  }

  .text {
    line-height: 1.2;
    font-size: 15px;
    margin-top: 15px;
  }
  .textDang {
    line-height: 1.5;
    font-size: 16px;
  }
  .gym {
    top: -1.5px;
  }
  .span1 {
    left: 18px;
  }
  .span2 {
    left: 18px;
  }
  .dang {
    width: 439px;
  }
}
