@use 'index';

.container {
  margin: 0 auto;
  max-width: 375px;
  padding: 40px 20px;
}

@media screen and (min-width: index.$tablet-breakpoint) {
  .container {
    max-width: 768px;
    padding: 72px 32px;
  }
}

@media screen and (min-width: index.$desktop-breakpoint) {
  .container {
    max-width: 1440px;
    padding: 72px 96px;
  }
}
