@use 'index';

.category-list {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  gap: 32px;
}

.category-name {
  font-size: 16px;
  color: rgba(index.$white-color, 0.4);
  line-height: 1.5;
  font-weight: normal;
  cursor: pointer;
}

.active {
  color: index.$white-color;
  padding-bottom: 4px;
  border-bottom: 4px solid index.$orange-secondary-color;
  border-radius: 2px;
}

@media screen and (min-width: index.$tablet-breakpoint) {
  .category-list {
    margin-top: 0;
    margin-bottom: 0;
  }
}
