@use 'index';
.titlebox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 40px;
}
.exclamingbox{
    display: flex;
    padding: 20px 0 40px 0px;
    gap: 8px;
}
.icon{

  max-width: 24px; 
  max-height: 24px;
stroke: #ef8964;
}
.exclamingtext{
    color: rgba(239, 237, 232, 0.30);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.3;
}