@use 'index';

.formStyle {
  max-width: 335px;
}

.inputStyle {
  width: 100%;
  display: block;
  padding: 14px;
  background-color: transparent;
  border: 1px solid #efede84d;
  border-radius: 12px;
  outline: none;

  color: index.$white-color;
  font-size: 14px;
  line-height: 18px;
  &::placeholder {
    color: index.$white-color;
  }
}

.searchWrapper {
  position: relative;
  margin-bottom: 16px;
}
.selectorWrapper {
  display: flex;
  gap: 16px;
}

.categorySelector {
  width: 146px;
}

.btnClearIcon {
  background-color: transparent;
  padding: 0;
  border: none;
  position: absolute;
  right: 40px;
  top: 14px;
}

.btnSearchIcon {
  background-color: transparent;
  padding: 0;
  border: none;
  position: absolute;
  right: 14px;
  top: 14px;
}

.clearIcon {
  display: block;
  background-color: transparent;
  width: 18px;
  height: 18px;
  fill: transparent;
  stroke: index.$orange-main-color;
}

.searchIcon {
  display: block;
  background-color: transparent;
  width: 18px;
  height: 18px;
  fill: transparent;
  stroke: index.$white-color;
}

.recommendationWrap {
  position: relative;
}

.recommendationOptionWrap {
  position: absolute;
  top: calc(100% + 4px);
  width: 100%;
  height: 98px;

  display: block;
  padding: 14px;
  background-color: index.$option-list-color;
  border-radius: 12px;

  color: index.$white-color;
  font-size: 14px;
  line-height: 18px;
}

.recommendationOptionWrapList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.chevronDownIcon {
  position: absolute;
  top: 15px;
  right: 14px;
  width: 18px;
  height: 18px;
  stroke: index.$white-color;
}

.categoryWrap {
  position: relative;
  width: 146px;
}

.categoryOptionWrap {
  position: absolute;
  top: calc(100% + 4px);
  width: 100%;
  height: 228px;

  display: block;
  padding: 14px 7px 14px 14px;
  background-color: index.$option-list-color;
  border-radius: 12px;

  color: index.$white-color;
  font-size: 14px;
  line-height: 18px;
}

.scrollWrap {
  height: 100%;
  overflow: scroll;
  //   &::-webkit-scrollbar {
  //     display: none;
  //   }
  //   -ms-overflow-style: none;
  //   scrollbar-width: none;
  &::-webkit-scrollbar {
    margin-top: 10px;
    width: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    display: none;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba(239, 237, 232, 0.1);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-corner {
    display: none;
  }
}

.categoryOptionWrapList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media screen and (min-width: index.$tablet-breakpoint) {
  .formStyle {
    display: flex;
    gap: 16px;
    max-width: 664px;
  }
  .searchWrapper {
    width: 236px;
    margin-bottom: 0;
  }
  .categoryWrap {
    width: 196px;
    input {
      width: 100%;
    }
  }

  .recommendationWrap {
    width: 204px;
  }
}
