@use 'index';

.navWrapper {
  display: none;
}

.navBurgerMenu {
  position: absolute;
  top: 5px;
  right: -16px;
  display: flex;
  justify-content: center;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.navBurgerMenuIcon {
  stroke: index.$orange-main-color;
  fill: transparent;
  width: 24px;
  height: 24px;
}

@media screen and (min-width: index.$tablet-breakpoint) {
  .navBurgerMenu {
    top: 5px;
    right: -16px;
  }

  .navBurgerMenuIcon {
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: index.$desktop-breakpoint) {
  .navWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-right: 32px;
  }

  .navBurgerMenu {
    display: none;
  }

  .NavLink {
    height: 38px;
    border: 1px solid rgba(index.$white-color, 0.2);
    border-radius: 12px;
    padding: 10px 27px;
    color: index.$white-color;
    background-color: transparent;
    font-size: 16px;
    transition: index.$transition-dur-and-fun;

    &.active {
      border-color: transparent;
      background-color: index.$orange-main-color;

      &:hover {
        background-color: index.$orange-secondary-color;
        border-color: transparent;
      }
    }

    &:hover {
      border-color: index.$orange-main-color;
    }
  }
}
