@use 'index';

.signIn,
.signUp {
  font-size: 12px;
  font-weight: normal;
  color: #91908d;
}

.userPage {
  font-size: 14px;
  font-weight: normal;
  color: #91908d;
}

.link {
  color: index.$white-color;
  text-decoration-line: underline;
}
