@use 'index';

.container {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 66px;
}

.none{opacity: 0;}

@media (min-width: index.$tablet-breakpoint) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
    max-width: 768px;
    padding-bottom: 54px;
  }
  .title{
    font-size: 32px;
    line-height: 1.375;
  }
}
@media (min-width: index.$desktop-breakpoint) {
  .container {
    padding-left: 96px;
    padding-right: 96px;
    padding-top: 72px;
    padding-bottom: 36px;
    max-width: 1440px;
  }
  .flexCont {
    display: flex;
    flex-direction: row-reverse;
    // justify-content: center;
    align-items: center;
  }
  .leftCont {
    margin-right: 64px;
    border-right: solid 1px rgba(index.$white-color, 20%);
  }
  
  .rightCont {
    margin-left: 49px;
  }
  .title{
    margin-bottom: 32px;

  }


}
