@import 'index.scss';


.titleMain {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.05;
  color: $white-color;
  width: 335px;
  background-color: transparent;
}
.spriteLine {
  left: -10px;
  position: absolute;
  width: 98px;
  height: 35px;
}

@media screen and (min-width: $mobile-breakpoint) {
  
}

@media screen and (min-width: $tablet-breakpoint) {
    .titleMain {
    font-size: 70px;
    line-height: 1.11;
    width: 600px;
  }
  .spriteLine {
    left: -25px;
    width: 185px;
    height: 67px;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
}
