@use 'index';

.productsContainer {
  // padding: 16px;
  width: 100%;
  height: 100vh;
  background: rgba(index.$black-color, 0.05);
  overflow: hidden;

}

.headBlock {
  display: flex;
  justify-content: space-between;
}

.headTitle {
  font-size: 14px;
  line-height: calc(18 / 14);
  color: rgba(index.$white-color, 0.5);
}

.headLink {
  font-weight: medium;
  font-size: 14px;
  color: index.$orange-main-color;
}

.linkWraper {
  display: flex;
  column-gap: 8px;
  width: 100%;
}

.icon {
  width: 16px;
  height: 16px;
  stroke: index.$orange-main-color;
}


@media screen and (min-width: index.$mobile-breakpoint) {


}