@use 'index';

.form {
  background: index.$black-color;
  //   max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}

.field {
  padding: 9.2px 14px;
  background: inherit;
  color: index.$white-color;
  border-radius: 12px;
  border: 1px solid rgba(index.$white-color, 0.3);
  width: 100%;
  height: 38px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.titleField,
.categoriesField {
  width: 100%;
}

.caloriesField {
  max-width: calc((100% - 60px)*34.177%);
}

.weightField {
  width: calc((100% - 60px)*33.755%);
}

.recommendField {
  width: calc((100% - 60px)*32.067%);
//   padding: 30px;
}

.title {
  color: index.$orange-secondary-color;
  max-height: 18px;
  max-width: 100%;
  font-size: 12px;
  line-height: 1.5;
}

.fieldWrap {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.fieldWrap:not(:last-child) {
  margin-bottom: 16px;
}

.blockWrap {
  display: flex;
  align-items: flex-end;
  column-gap: 8px;
  //   width: 100%;
}

.subBlockWrap {
  display: flex;
  align-items: center;
  column-gap: 16px;
  //   width: inherit;
}

.blockWrap:last-child {
  column-gap: 8px;
}

.blockWrap .fieldWrap {
  margin-bottom: 0;
}

.buttonWrap {
  width: 20px;
  height: 20px;
  margin-bottom: 9px;
}

.button {
  width: 20px;
  height: 20px;
  padding: 0;
  border: 0;
  background-color: inherit;
}

.icon {
  width: 20px;
  height: 20px;
  stroke: index.$orange-secondary-color;
}

@media screen and (min-width: index.$mobile-breakpoint) {
  .form {
    width: 297px;
  }

  .field {
    padding: 8.2px 14px;
    // background: inherit;
    // color: index.$white-color;
    // border-radius: 12px;
    // border: 1px solid rgba(index.$white-color, 0.3);
    width: 297px;
    height: 38px;
  }

  .titleField,
  .categoriesField {
    width: 297px;
  }

  .caloriesField {
    width: 81px;
  }

  .weightField {
    width: 80px;
  }

  .recommendField {
    width: 76px;
    padding-left: 22px;
  }

  .title {
    // color: index.$orange-secondary-color;
    height: 18px;
    // max-width: 100%;
    // font-size: 12px;
    // line-height: 1.5;
  }

  //   .fieldWrap {
  //     display: flex;
  //     flex-direction: column;
  //     row-gap: 8px;
  //   }

  //   .fieldWrap:not(:last-child) {
  //     margin-bottom: 16px;
  //   }

  .blockWrap {
    // display: flex;
    // align-items: flex-end;
    // column-gap: 8px;
    width: 269px;
  }

  //   .subBlockWrap {
  //     display: flex;
  //     align-items: center;
  //     column-gap: 16px;
  //     width: inherit;
  //   }

  //   .blockWrap:last-child {
  //     column-gap: 8px;
  //   }

  //   .blockWrap .fieldWrap {
  //     margin-bottom: 0;
  //   }

  //   .buttonWrap {
  //     width: 20px;
  //     height: 20px;
  //     margin-bottom: 9px;
  //   }

  //   .button {
  //     width: 20px;
  //     height: 20px;
  //     padding: 0;
  //     border: 0;
  //     background-color: inherit;
  //   }

  //   .icon {
  //     width: 20px;
  //     height: 20px;
  //     stroke: index.$orange-secondary-color;
  //   }
}

@media screen and (min-width: index.$tablet-breakpoint) {
  .form {
    width: 656px;
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    margin-bottom: 8px;
  }

  .field {
    padding: 8.2px 14px;
    background: inherit;
    color: index.$white-color;
    border-radius: 12px;
    border: 1px solid rgba(index.$white-color, 0.3);
    //   width: 204px;
    height: 40px;
  }

  .titleField {
    width: 204px;
  }

  .categoriesField {
    width: 128px;
  }

  .caloriesField,
  .weightField {
    width: 90px;
  }

  //   .weightField {
  //     width: 90px;
  //   }

  .recommendField {
    width: 80px;
  }

  //   .title {
  //     color: index.$orange-secondary-color;
  //     max-height: 18px;
  //     max-width: 148px;
  //     font-size: 12px;
  //     line-height: 1.5;
  //   }

  .fieldWrap {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  .fieldWrap:not(:last-child) {
    margin-bottom: 0;
  }

  .blockWrap {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0;
    width: 269px;
  }

  .subBlockWrap {
    display: flex;
    // flex-direction: row;
    align-items: center;
    column-gap: 8px;
    width: inherit;
  }

  .blockWrap:last-child {
    column-gap: 12px;
    align-items: flex-end;
  }

  .blockWrap .fieldWrap {
    margin-bottom: 0;
  }

  .buttonWrap {
    width: 20px;
    height: 20px;
    // margin-bottom: 9px;
  }

  .button {
    width: 20px;
    height: 20px;
    padding: 0;
    border: 0;
    background-color: inherit;
  }

  .icon {
    width: 20px;
    height: 20px;
    stroke: index.$orange-secondary-color;
  }
}

//   @media screen and (min-width: index.$desktop-breakpoint) {
//     .form {
//       width: 704px;
//     }

//     .field {
//       padding: 9.2px 14px;
//       background: inherit;
//       color: index.$white-color;
//       border-radius: 12px;
//       border: 1px solid rgba(index.$white-color, 0.3);
//       width: 204px;
//       max-height: 38px;
//     }

//     .caloriesField {
//       width: 81px;
//     }

//     .weightField {
//       width: 80px;
//     }

//     .recommendField {
//       width: 76px;
//     }

//     .title {
//       color: index.$orange-secondary-color;
//       max-height: 18px;
//       max-width: 100%;
//       font-size: 12px;
//       line-height: 1.5;
//     }

//     .fieldWrap {
//       display: flex;
//       flex-direction: column;
//       row-gap: 8px;
//     }

//     .fieldWrap:not(:last-child) {
//       margin-bottom: 16px;
//     }

//     .blockWrap {
//       display: flex;
//       align-items: flex-end;
//       column-gap: 8px;
//       width: 269px;
//     }

//     .subBlockWrap {
//       display: flex;
//       align-items: center;
//       column-gap: 16px;
//       width: inherit;
//     }

//     .blockWrap:last-child {
//       column-gap: 8px;
//     }

//     .blockWrap .fieldWrap {
//       margin-bottom: 0;
//     }

//     .buttonWrap {
//       width: 20px;
//       height: 20px;
//       margin-bottom: 9px;
//     }

//     .button {
//       width: 20px;
//       height: 20px;
//       padding: 0;
//       border: 0;
//       background-color: inherit;
//     }

//     .icon {
//       width: 20px;
//       height: 20px;
//       stroke: index.$orange-secondary-color;
//     }
//   }
