@use 'index';

.container {
  background: index.$black-color;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.element {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: 100%;
}

.element:not(:last-child) {
  margin-bottom: 16px;
}

.titleElement,
.categoriesElement {
  width: 100%;
}

.caloriesElement {
  width: calc((100vw - 60px) * 0.34177);
}

.weightElement {
  width: calc((100vw - 60px) * 0.33755);
}

.recommendElement {
  width: calc((100vw - 60px) * 0.32067);
}

.title {
  color: index.$orange-secondary-color;
  max-height: 18px;
  max-width: 100%;
  font-size: 12px;
  line-height: 1.5;
}

.field {
  padding: 9.2px 14px;
  background: inherit;
  color: index.$white-color;
  border-radius: 12px;
  border: 1px solid rgba(index.$white-color, 0.3);
  font-size: 14px;
  line-height: calc(18 / 14);
  width: 100%;
  height: 38px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.recommendField {
  padding-left: 36px;
  position: relative;
}

.recomendStatus::before {
  content: '';
  position: absolute;
  left: 14px;
  top: 30%;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: index.$variant-success-color;
}

.recommendColor {
  background-color: index.$variant-error-color;
}

.blockWrap {
  display: flex;
  align-items: flex-end;
  column-gap: 8px;
  width: 100%;
}

.subBlockWrap {
  display: flex;
  align-items: center;
  column-gap: 16px;
  width: 100%;
}

.blockWrap .element {
  margin-bottom: 0;
}

.buttonWrap {
  width: 20px;
  height: 20px;
  margin-bottom: 9px;
}

.button {
  width: 20px;
  height: 20px;
  padding: 0;
  border: 0;
  background-color: inherit;
}

.icon {
  width: 20px;
  height: 20px;
  stroke: index.$orange-secondary-color;
}

@media screen and (min-width: index.$mobile-breakpoint) {
  .container {
    width: 297px;
  }

  .caloriesElement {
    width: 81px;
  }

  .weightElement {
    width: 80px;
  }

  .recommendElement {
    width: 76px;
  }

  .title {
    height: 18px;
  }

  .blockWrap {
    width: 269px;
  }
}

@media screen and (min-width: index.$tablet-breakpoint) {
  .container {
    width: 656px;
    display: flex;
    flex-direction: row;
    column-gap: 8px;
  }

  .element:not(:last-child) {
    margin-bottom: 0;
  }

  .titleElement {
    width: 204px;
  }

  .categoriesElement {
    width: 128px;
  }

  .caloriesElement,
  .weightElement {
    width: 90px;
  }

  .recommendElement {
    width: 80px;
  }

  .field {
    padding: 7.2px 14px;
    height: 40px;
    font-size: 16px;
    line-height: calc(24 / 16);
  }

  .recommendField {
    padding-left: 36px;
  }

  .blockWrap {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 12px;
    width: 308px;
  }

  .subBlockWrap {
    column-gap: 8px;
  }

  .blockWrap:last-child {
    align-items: flex-end;
  }

  .blockWrap .element {
    margin-bottom: 0;
  }
}

@media screen and (min-width: index.$desktop-breakpoint) {
  .container {
    width: 762px;
  }

  .titleElement {
    width: 212px;
  }

  .categoriesElement {
    width: 166px;
  }

  .caloriesElement,
  .weightElement {
    width: 105px;
  }

  .recommendElement {
    width: 110px;
  }

  .blockWrap {
    width: 368px;
  }

  .blockWrap:last-child {
    column-gap: 8px;
  }

  .blockWrap .element {
    margin-bottom: 0;
  }
}
