@use 'index';

.headerWrapper {
  display: flex;
  height: 61px;
  padding: 24px 20px;
  align-items: center;
}

.userNavWrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 16px;
}

@media screen and (min-width: index.$tablet-breakpoint) {
  .headerWrapper {
    border-bottom: 1px solid rgba(index.$white-color, 0.2);
  }
}
