@use 'index';

.headerWrapper {
  display: flex;
  height: 61px;
  padding: 24px 20px;
  align-items: center;
  background: transparent;
}

.diaryHeader {
  border-bottom: 1px solid rgba(index.$white-color, 0.2);
}

.welcomeHeader {
  border-bottom: transparent;
}

.userNavWrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 16px;
}

@media screen and (max-width: index.$mobile-breakpoint) {
  .headerNoAuthenticatedWpapper {
    position: absolute;
    left: 20px;
    display: flex;
    height: 61px;
    padding: 24px 0;
    align-items: center;
    background: transparent;
  }
}

@media screen and (min-width: index.$mobile-breakpoint) {
  .headerNoAuthenticatedWpapper {
    position: absolute;
    left: 20px;
    display: flex;
    height: 61px;
    padding: 24px 0;
    align-items: center;
    background: transparent;
  }
}

@media screen and (min-width: index.$tablet-breakpoint) {
  .headerWrapper {
    padding: 26px 32px;
  }

  .headerNoAuthenticatedWpapper {
    transform: translate(0);
    left: 32px;
  }
}

@media screen and (min-width: index.$desktop-breakpoint) {
  .headerWrapper {
    padding: 30px 96px;
  }

  .headerNoAuthenticatedWpapper {
    left: 96px;
  }
}
