@use 'index';

.bodybox {
  border-color: rgba(index.$white-color, 0.2);
  border-width: 1px;
  border-radius: 12px;
  gap: 32px;
}
.bodyboxTable {
  border-color: rgba(index.$white-color, 0.2);
  border-width: 1px;
  border-radius: 12px;
  gap: 32px;
  display: none;
}

.exercisename {
  color: index.$orange-secondary-color;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.exercisetipe {
  color: index.$white-color;
  border-color: rgba(index.$white-color, 0.3);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  border: solid;
  border-width: 1px;
  border-radius: 12px;
  padding: 10px 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rowtext {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  gap: 10px;
  flex: 1;
}
.rowtextitems {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  overflow: hidden;
}

@media screen and (min-width: index.$mobile-breakpoint) {
  .rowtext {
    gap: 25px;
  }
}

@media screen and (min-width: index.$tablet-breakpoint) {
  .bodybox {
    display: none;
  }
  .bodyboxTable {
    display: block;
  }
  .exercisestablehead {
    flex: 1;
    width: 100%;
    text-align: left;
    font-size: 16px;
    border-collapse: separate;
    border-spacing: 10px;
  }

  .exercisestablehead th,
  .exercisestablehead td {
    max-width: 100px;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .table {
    overflow-y: scroll;
  }
  ::-webkit-scrollbar {
    width: 6px;
  }

  /* Стилизация ползунка прокрутки */
  ::-webkit-scrollbar-thumb {
    width: 6px;
    height: 203px;
    border-radius: 12px;
    background: rgba(index.$white-color, 0.1);
  }
  ::-webkit-scrollbar-track {
    border-radius: 12px;
  }
  :hover::-webkit-scrollbar-thumb {
    background: rgba(index.$white-color, 0.1);
  }
}
