@use 'index';

.bodybox {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 14px;
  margin: 20px;

  border-color: rgba(239, 237, 232, 0.2);
  border-width: 1px;
  border-radius: 12px;
  gap: 32px;
}
.bodyboxTable {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 14px;
  margin: 20px;
  border-color: rgba(239, 237, 232, 0.2);
  border-width: 1px;
  border-radius: 12px;
  gap: 32px;
  display: none;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(239, 237, 232, 0);
}
.exercisetitle {
  color: rgba(239, 237, 232, 0.5);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
}

.addexercisetitle {
  color: index.$orange-main-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
}

.exercisename {
  color: #ef8964;
  overflow-x: hidden;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
}

.exercisetitleitem {
  color: #efede8;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
}

.exercisetipe {
  overflow-x: hidden;
  color: index.$white-color;
  border-color: rgba(239, 237, 232, 0.3);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  border: solid;
  border-width: 1px;
  border-radius: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 14px;
  padding-right: 14px;
}
.rowtext {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  gap: 10px;
  flex: 1;
}
.rowtextitems {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.icon {
  position: relative;
  top: +80px;
  display: flex;
  flex-direction: column;
  stroke: #ef8964;
  width: 20px;
  height: 20px;
}

.icon2 {
  position: relative;
  display: flex;
  flex-direction: column;
  stroke: #ef8964;
  width: 20px;
  height: 20px;
  top: +10px;
}

@media screen and (min-width: index.$mobile-breakpoint) {
  .rowtext {
    gap: 25px;
  }
  .icon {
    top: +65px;
  }
}

@media screen and (min-width: index.$tablet-breakpoint) {
  .bodybox {
    display: none;
  }
  .bodyboxTable {
    display: block;
  }
  .exercisestablehead {
    flex: 1;
    width: 100%;
    text-align: left;
    font-size: 16px;
  }

  .exercisestablehead td {
    gap: 10px;
    padding-right: 10px;
  }
}

@media screen and (min-width: index.$desktop-breakpoint) {
}
