@use 'index';

.back-button {
  margin-top: -40px;
  margin-bottom: 16px;
  background-color: transparent;
  color: #efede866;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.btn-svg {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

// .category-flex-secondary {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   margin-bottom: 32px;
// }

@media screen and (min-width: index.$tablet-breakpoint) {
  .category-flex-secondary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
  }

  .category-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: index.$desktop-breakpoint) {
  .page-wrapper {
    position: relative;
    min-height: calc(100vh - 60px);
    background-image: url('../../images/gym-desktop.jpg');
    background-image: -webkit-image-set
      (url('../../images/gym-desktop.jpg') 1x, url('../../images/gym-desktop@2x.jpg') 2x);
    background-repeat: no-repeat;
    background-position: top right;
  }
}
