@use 'index';

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(239, 237, 232, 0);
}
.exercisetitle {
  padding-bottom: 22px;
  color: rgba(239, 237, 232, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
}
.addexercisetitle {
  display: flex;
  gap: 8px;
  color: index.$orange-main-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}
.bodybox {
max-height: 824px;
overflow: scroll;
  padding: 16px 25px;
  border-width: 1px;
  gap: 32px;
  border-radius: 12px;
  border: 1px solid rgba(239, 237, 232, 0.2);
  background: rgba(239, 237, 232, 0.05);
}

.exercisesepmty {
  color: rgba(239, 237, 232, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
}
.iconarrow {
  stroke: index.$orange-main-color;
  width: 16px;
  height: 16px;
}
.exercisesepmty {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
  }
  .emptycontainer {
    display: flex;
    min-height: 335px;
    gap: 32px;
    justify-content: center;
    align-items: center;
  }
@media screen and (min-width: index.$mobile-breakpoint) {
  
}

@media screen and (min-width: index.$tablet-breakpoint) {
  .addexercisetitle {
    font-size: 16px;
    line-height: 1.5;
  }
  .exercisesepmty {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
  }
  .emptycontainer {
    display: flex;
    min-height: 234px;
    gap: 32px;
  }
  .bodybox {
max-height: 232px;
overflow-y: scroll;
margin-top: 32px;
padding: 16px 8px 8px 16px;
}
}

@media screen and (min-width: index.$desktop-breakpoint) {
  .emptycontainer {
    min-height: 234px;
    gap: 32px;
    justify-content: center;
    align-items: center;
  }
  .exercisesepmty {
    display: flex;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
  }
}
