@use 'index';

.burgerMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  min-height: 100vh;
  padding: 20px;
  background-color: index.$orange-main-color;
  z-index: 1;

  .closeIcon {
    display: block;
    width: 32px;
    height: 32px;
    margin-left: auto;
    stroke: index.$white-color;
    margin-bottom: 202px;
  }

  .navList {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (min-width: index.$tablet-breakpoint) {
  .burgerMenu {
    width: 350px;
  }
}

@media screen and (min-width: index.$desktop-breakpoint) {
  .burgerMenu {
    display: none;
  }
}
