@use 'index';

.container {
  padding: 48px 89px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .button {
    padding: 12px 32px;
  }
}

.image {
  width: 118px;
  height: 73px;
  margin-bottom: 27px;
}

.title {
  margin: 0;
  color: index.$white-color;
  font-size: 24px;
  line-height: 1.33;
  margin-bottom: 16px;
}

.infoText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.text {
  color: rgba(index.$white-color, 0.3);
  font-size: 14px;
  line-height: 1.28;
  display: flex;
  align-items: center;
  gap: 8px;
}

.link {
  transition: color index.$transition-dur-and-fun;
}

.link:hover {
  color: index.$orange-main-color;
}

.span {
  color: index.$orange-main-color;
}

.buttonLink {
  margin-top: 24px;
  margin-bottom: 16px;
}

.arrowIcon {
  stroke: currentColor;
  width: 16px;
  height: 16px;
}

@media screen and (min-width: index.$tablet-breakpoint) {
  .container {
    padding: 64px 134px;
    .button {
      padding: 14px 32px;
      font-size: 16px;
      height: 52px;
    }
  }

  .image {
    margin-bottom: 32px;
  }

  .buttonLink {
    margin-top: 32px;
  }
}
