@use 'index';

.container {
  padding: 48px 24px;
  .button {
    padding: 12px 32px;
  }
}

.rightContainer {
  max-width: 302px;
}

.gifWrapper {
  width: 270px;
  height: 226px;
  margin: 0 auto 14px;
}

.gif {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border: 1px solid rgba(239, 237, 232, 0.2);
  object-fit: cover;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timerTitle {
  color: rgba(239, 237, 232, 0.4);
  font-size: 10px;
  line-height: 1.4;
  margin-bottom: 4px;
}

.timerWrapper {
  transform: rotate(-180deg);
}

.remainingTime {
  color: index.$white-color;
  font-size: 16px;
  line-height: 1.5;
  transform: rotate(180deg);
}

.timerButton {
  color: index.$white-color;
  background-color: index.$orange-main-color;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 5px;
  padding: 0;
  margin-top: 14px;
  margin-bottom: 8px;
  cursor: pointer;
  transition: background-color index.$transition-dur-and-fun;
}

.timerButton:hover {
  background-color: index.$orange-secondary-color;
}

.timerButtonIcon {
  fill: currentColor;
  stroke: currentColor;
  width: 32px;
  height: 32px;
}

.calories {
  color: rgba(239, 237, 232, 0.3);
  font-size: 12px;
  line-height: 1.5;
}

.caloriesSpan {
  color: index.$orange-main-color;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
  margin-top: 40px;
}

.listItem {
  padding: 12px 18px;
  width: 147px;
  justify-content: center;

  gap: 4px;
  border-radius: 12px;
  border: 1px solid rgba(239, 237, 232, 0.2);
  background: rgba(239, 237, 232, 0.05);
}

.itemTitle {
  color: rgba(239, 237, 232, 0.4);
  font-size: 12px;
  line-height: 1.33;
  margin-bottom: 4px;
}

.itemValue {
  color: index.$white-color;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.285;
}

@media screen and (min-width: index.$tablet-breakpoint) {
  .container {
    padding: 48px 32px;
    display: flex;
    gap: 16px;

    .button {
      padding: 14px 32px;
      font-size: 16px;
      line-height: 1.5;
      height: 52px;
      margin-top: auto;
    }
  }

  .calories {
    font-size: 14px;
    line-height: 1.28;
  }

  .rightContainer {
    max-width: 344px;
    display: flex;
    flex-direction: column;
  }

  .list {
    margin-bottom: 0;
    margin-top: 0;
  }

  .listItem {
    width: 168px;
  }

  .itemTitle {
    line-height: 1.5;
  }

  .itemValue {
    font-size: 16px;
    line-height: 1.5;
  }

  .buttonContainer {
    margin-top: auto;
    align-self: flex-end;
  }
}
