@use 'index';

.titlePage {
  margin: 0;
  color: index.$white-color;
  font-size: 24px;
  line-height: 1.16;
  text-transform: capitalize;
}

@media screen and (min-width: index.$tablet-breakpoint) {
  .titlePage {
    font-size: 32px;
    line-height: 1.37;
  }
  @media screen and (min-width: index.$desktop-breakpoint) {
  }
}
