@use 'index';

.titlePage {
  color: index.$white-color;
  font-size: 24px;
  line-height: 1.16;
}

@media screen and (min-width: index.$tablet-breakpoint) {
  .titlePage {
    font-size: 32px;
    line-height: 1.37;
  }
}
