@use 'index';

.formWrapper {
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 28px;
}

.inputNameNoMargin {
  margin-bottom: 0px;
}

.inputNameWithMArgin {
  margin-bottom: 18px;
}

.inputWrapper {
  position: relative;
}

.btn {
  width: 139px;
  font-weight: normal;
}

.errorMessage {
  color: index.$error-color;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.12px;
}

.successMessage {
  color: index.$success-color;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.12px;
}

.inputStyle {
  display: block;
  height: 46px;
  padding: 14px;
  color: #efede899;
  font-size: 14px;
  line-height: 1.28571;
  background-color: transparent;
  border-radius: 12px;
  border: 1px solid #efede84d;
  outline: none;
  width: 100%;

  &:focus {
    border: 1px solid index.$orange-main-color;
  }
}

.messageWrap {
  position: absolute;
  top: calc(100% + 4px);
  display: flex;
  gap: 4px;
}

.errorInput {
  border: 1px solid index.$error-color;
}

.successInput {
  border: 1px solid index.$success-color;
}

.errorIcon {
  width: 16px;
  height: 16px;
  fill: index.$error-color;
}

.successIcon {
  width: 16px;
  height: 16px;
  fill: index.$success-color;
}

.passwordWrapper {
  position: relative;
}

.eyeIcon {
  position: absolute;
  top: 14px;
  right: 16px;
  width: 20px;
  height: 20px;
  stroke: index.$white-color;
}

@media screen and (min-width: index.$tablet-breakpoint) {
  .inputsWrapper {
    margin-bottom: 64px;
  }

  .formWrapper {
    gap: 20px;
  }
  .inputStyle {
    height: 52px;
    font-size: 16px;
    line-height: 1.5;
    width: 364px;
  }
  .btn {
    width: 192px;
  }

  .passwordWrapper {
    width: 364px;
  }
  .eyeIcon {
    top: 16px;
  }
}

@media screen and (min-width: index.$desktop-breakpoint) {
  .inputStyle {
    width: 364px;
  }
}
