@use 'index';

.logoutBtn {
  display: flex;
  height: 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  outline: none;
  background: none;
  color: index.$white-color;
  font-size: 14px;
  cursor: pointer;
}

.logoutBtnHeader {
  display: none;
}

.logoutBtnProfile {
  margin-left: auto;
  margin-bottom: 40px;
}

.icon {
  stroke: index.$white-color;
  width: 20px;
  height: 20px;
  fill: transparent;
}

.iconForProfile {
  stroke: index.$orange-main-color;
}

@media (min-width: 768px) {
  .logoutBtn {
    height: 24px;
    font-size: 16px;
  }

  .logoutBtnProfile {
    margin-bottom: 38px;
  }
}

@media (min-width: 1440px) {
  .logoutBtn {
    display: flex;
  }
  .logoutBtnHeader {
    display: flex;
  }
  .logoutBtnProfile {
    margin-bottom: 36px;
  }
  .icon {
    stroke: index.$orange-main-color;
  }
}
