@use 'index';
@import 'react-calendar/dist/Calendar.css';
// CALENDAR
body .react-calendar {
  position: absolute;
  top: 125%;
  left: 50%;
  transform: translate(-50%);
  width: 215px;
  max-width: 100%;
  background: index.$orange-secondary-color;
  font-family: 'Roboto', sans-serif;
  border-radius: 8px;
  padding: 10px;
  border: 0;
}

body .react-calendar__navigation {
  display: flex;
  margin-bottom: 10px;
}

body .react-calendar__navigation button {
  min-width: 35px;
  background: none;
}

body .react-calendar__navigation button:disabled {
  background-color: transparent;
}

body .react-calendar__navigation button:enabled:hover,
body .react-calendar__navigation button:enabled:focus {
  color: black;
  background-color: transparent;
}

body .react-calendar__navigation__prev-button,
body .react-calendar__navigation__next-button {
  font-size: 22px;
  color: index.$white-color;
}

body .react-calendar__month-view__days__day {
  color: index.$white-color;
}

body .react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: capitalize;
  font-family: inherit;
  font-size: 14;
  font-weight: normal;
  color: #efbba6;
  margin-bottom: 3px;
}

abbr[title] {
  text-decoration-line: none;
}

body .react-calendar__month-view__weekdays__weekday {
  padding: 0;
}

body .react-calendar__navigation__label__labelText {
  font-size: 16px;
  color: index.$white-color;
}

body .react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-size: 14;
  font-weight: normal;
}

body .react-calendar__month-view__days__day--weekend {
  color: index.$white-color;
}

body .react-calendar__month-view__days__day--neighboringMonth {
  color: #ef9d7e;
}

body .react-calendar__year-view .react-calendar__tile,
body .react-calendar__decade-view .react-calendar__tile,
body .react-calendar__century-view .react-calendar__tile {
  padding: 0;
}

body .react-calendar__tile {
  max-width: 100%;
  padding: 7px;
  background: none;
  text-align: center;
  line-height: 1.125;
  font-family: inherit;
  font-size: 14;
  letter-spacing: -0.0175rem;
  font-weight: normal;
}

body .react-calendar__tile:disabled {
  background-color: index.$orange-secondary-color;
  color: #EF9D7E;
}

body .react-calendar__tile:enabled:hover,
body .react-calendar__tile:enabled:focus {
  background-color: index.$orange-main-color;
  border-radius: 50%;
}

body .react-calendar__tile--now {
  background: #696767;
  border-radius: 50%;
}

body .react-calendar__tile--now:enabled:hover,
body .react-calendar__tile--now:enabled:focus {
  background: index.$orange-main-color;
}

body .react-calendar__tile--hasActive {
  background: black;
  border-radius: 50%;
}

body .react-calendar__tile--hasActive:enabled:hover,
body .react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

body .react-calendar__tile--active {
  background: black;
  border-radius: 50%;
  color: white;
}

body .react-calendar__tile--active:enabled:hover,
body .react-calendar__tile--active:enabled:focus {
  background: black;
  border-radius: 50%;
}

body .react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

@media screen and (min-width: index.$tablet-breakpoint) {
  body .react-calendar {
    position: absolute;
    top: 100%;
    left: 49%;
    transform: translate(-50%);
    width: 215px;
    max-width: 100%;
    background: index.$orange-secondary-color;
    font-family: 'Roboto', sans-serif;
    border-radius: 8px;
    padding: 10px;
  }
}
