@import '~modern-normalize/modern-normalize.css';

$mobile-breakpoint: 375px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1440px;
$black-color: #040404;
$orange-main-color: #e6533c;
$orange-secondary-color: #ef8964;
$beige-color: #efa082;
$white-color: #efede8;
$success-color: #3cbf61;
$error-color: #d80027;
$variant-error-color: #e9101d;
$variant-success-color: #3cbf61;
$option-list-color: #1c1c1c;

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('./fonts/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('./fonts/Roboto-Medium.ttf');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('./fonts/Roboto-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(1.3);
}

body,
button,
a,
input,
p {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-style: normal;
}

img {
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

.swiper-pagination-bullet {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url('./images/svg/pagination_bullet.svg');
  background-size: contain;
  margin-left: 8px;
}

.swiper-pagination-bullet:first-child {
  margin-left: 0;
}

.swiper-pagination-bullet-active {
  background-image: url('./images/svg/pagination_active.svg');
}

.swiper-pagination {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet:only-child {
  visibility: hidden;
}
