@use 'index';
@import 'react-calendar/dist/Calendar.css';


.reactCalendar {
    position: absolute;
    top: 100%;
    left: 49%;
    transform: translate(-50%);
    width: 215px;
    max-width: 100%;
    background: index.$orange-secondary-color;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: -0.0175;
    color: #EFBBA6;
    border-radius: 8px;
    padding: 10px;
  }
  
  .react-calendar--doubleView {
    width: 700px;
  }
  
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
  }
  
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
  }
  
  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
  }
  
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  
  .react-calendar__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 1em;
  }
  
  .react-calendar__navigation button {
    min-width: 44px;
    background: none;
  }
  
  .react-calendar__navigation button:disabled {
    background-color: #f0f0f0;
  }
  
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: #e6e6e6;
  }
  
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font: inherit;
    font-size: 0.75em;
    font-weight: bold;
  }
  
  .react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
  }
  
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font: inherit;
    font-size: 0.75em;
    font-weight: bold;
  }
  
  .reactCalendar .react-calendar__month-view__days__day--weekend {
    color: #EFBBA6;
  }
  
  .react-calendar__month-view__days__day--neighboringMonth {
    color: #757575;
  }
  
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
  }
  
  .react-calendar__tile {
    max-width: 100%;
    padding: 10px 6.6667px;
    background: none;
    text-align: center;
    line-height: 16px;
    font: inherit;
    font-size: 0.833em;
  }
  
  .react-calendar__tile:disabled {
    background-color: #f0f0f0;
  }
  
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: #e6e6e6;
  }
  
  .react-calendar__tile--now {
    background: #ffff76;
  }
  
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #ffffa9;
  }
  
  .react-calendar__tile--hasActive {
    background: #76baff;
  }
  
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
  }
  
  .react-calendar__tile--active {
    background: #006edc;
    color: white;
  }
  
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #1087ff;
  }
  
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
  } 

.wrapper {
    position: relative;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.date {
    font-size: 18px;
    font-weight: bold;
    color: index.$white-color;
    line-height: 1.25;
}

.calendar {
    fill: none;
    stroke: index.$orange-main-color;
    width: 20px;
    height: 20px;
}

.dateAndIconWrapper {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.arrowsWrapper {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

button {
    background-color: transparent;
    border: 0ch;
    margin: 0;
    padding: 0;
}


.arrow {
    width: 16px;
    height: 16px;
    fill: index.$white-color;
}

@media screen and (min-width: index.$tablet-breakpoint) {
    .wrapper {
        gap: 40px;
    } 

    .date {
        font-size: 24px;
        line-height: 2;
    }

    .calendar {
        width: 24px;
        height: 24px;
    }
}
